<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sfv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/sfv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SFV Checksum File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Folder</string>
      <key>CFBundleTypeOSTypes</key>
      <array>
        <string>fold</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
    </dict>
	</array>
</dict>
</plist>
