<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="ma0 system-sans-serif">
    <div id="root" class="vh-100"></div>
  </body>
</html>
